<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Portifolio</title>
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    <header>
            <h1 class="cabecalho">Veja meu portifolio</h1>
            <nav>
                <a href="../index.html">Página Inicial</a>
                <a href="sobre.html">Sobre Mim</a>
                <a href="contato.html">Contato</a>   
            </nav>
    </header>

    <footer>
        <p>&copy; Luiz Felipe. Todos os direitos reservados.</p>
    </footer>
</body>
</html>